/* .error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
} */

.error-alert {
  display: flex;
  justify-content: center;
  margin: 0 auto 5vh;
  width: 80%;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}